<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<div>
    <p>名称: <span th:text="${productName}"/></p>
    <p>价格: <span th:text="${productSnapshot.productPrice}"/>元</p>

    <p>账户余额: <span th:text="${accountAmount}"/>元</p>

    <form th:action="@{'/' + ${prefix} + '/placeOrder'}" method="post">
        <p> 支付方式：
            <input type="radio"
                   th:each="payChannelCode,iterStat : ${payChannelCodes}"
                   th:name="payChannelCode"
                   th:value="${payChannelCode.code}" th:text="${payChannelCode.msg}"
                   th:checked="${iterStat.index == 1}"/>
        </p>
        <input type="hidden" name="productSnapshotId" th:value="${productSnapshot.productSnapshotId}"/>
        <input type="submit" value="支付"/>
    </form>
</div>
</body>
</html>