<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<table>
    <tr th:each="product,iterStat : ${products}">
        <th scope="row" th:text="${iterStat.count} + '.'"></th>
        <td th:text="${product.productName}"/>
        <td th:text="${product.productPrice}"/>
        <td><a th:href="@{'/' + ${prefix} + '/product/' + ${product.productId} + '/confirm'}"
               th:text="立即购买"></a></td>
    </tr>
</table>
</body>
</html>