<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun8min.capital.dao.CapitalTradeOrderDao">
  <resultMap id="BaseResultMap" type="com.sun8min.capital.entity.CapitalTradeOrder">
    <id column="capital_trade_order_id" property="capitalTradeOrderId" />
    <result column="from_user_id" property="fromUserId" />
    <result column="to_user_id" property="toUserId" />
    <result column="capital_trade_amount" property="capitalTradeAmount" />
    <result column="trade_order_no" property="tradeOrderNo" />
    <result column="gmt_create" property="gmtCreate" />
    <result column="gmt_modified" property="gmtModified" />
    <result column="is_deleted" property="isDeleted" />
  </resultMap>
  <sql id="Base_Select_Column">
    capital_trade_order_id, from_user_id, to_user_id, capital_trade_amount, trade_order_no, 
    gmt_create, gmt_modified, is_deleted
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from capital_trade_order
    where capital_trade_order_id = #{capitalTradeOrderId}
  </delete>
  <insert id="insert" parameterType="com.sun8min.capital.entity.CapitalTradeOrder">
    insert into capital_trade_order (
      <trim suffixOverrides=",">
        <if test="capitalTradeOrderId != null">capital_trade_order_id,</if>
        <if test="fromUserId != null">from_user_id,</if>
        <if test="toUserId != null">to_user_id,</if>
        <if test="capitalTradeAmount != null">capital_trade_amount,</if>
        <if test="tradeOrderNo != null">trade_order_no,</if>
        <if test="gmtCreate != null">gmt_create,</if>
        <if test="gmtModified != null">gmt_modified,</if>
        <if test="isDeleted != null">is_deleted,</if>
      </trim>
      )
    values (
      <trim suffixOverrides=",">
        <if test="capitalTradeOrderId != null">#{capitalTradeOrderId},</if>
        <if test="fromUserId != null">#{fromUserId},</if>
        <if test="toUserId != null">#{toUserId},</if>
        <if test="capitalTradeAmount != null">#{capitalTradeAmount},</if>
        <if test="tradeOrderNo != null">#{tradeOrderNo},</if>
        <if test="gmtCreate != null">#{gmtCreate},</if>
        <if test="gmtModified != null">#{gmtModified},</if>
        <if test="isDeleted != null">#{isDeleted},</if>
      </trim>
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sun8min.capital.entity.CapitalTradeOrder">
    update capital_trade_order set 
    <trim suffixOverrides=",">
      <if test="capitalTradeOrderId != null">capital_trade_order_id = #{capitalTradeOrderId},</if>
      <if test="fromUserId != null">from_user_id = #{fromUserId},</if>
      <if test="toUserId != null">to_user_id = #{toUserId},</if>
      <if test="capitalTradeAmount != null">capital_trade_amount = #{capitalTradeAmount},</if>
      <if test="tradeOrderNo != null">trade_order_no = #{tradeOrderNo},</if>
      <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
      <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
      <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
    </trim>
    where capital_trade_order_id = #{capitalTradeOrderId}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Select_Column" />
    from capital_trade_order
    where capital_trade_order_id = #{capitalTradeOrderId}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Select_Column" />
    from capital_trade_order
  </select>
</mapper>