<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun8min.user.mapper.CartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sun8min.user.entity.Cart">
        <id column="cart_id" property="cartId" />
        <result column="user_id" property="userId" />
        <result column="product_id" property="productId" />
        <result column="product_quantity" property="productQuantity" />
        <result column="product_snapshot_id" property="productSnapshotId" />
        <result column="extension_field" property="extensionField" />
        <result column="version" property="version" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cart_id, user_id, product_id, product_quantity, product_snapshot_id, extension_field, version, gmt_create, gmt_modified, is_deleted
    </sql>

</mapper>
