<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun8min.order.dao.OrderLineDao">
  <resultMap id="BaseResultMap" type="com.sun8min.order.entity.OrderLine">
    <id column="order_line_id" property="orderLineId" />
    <result column="product_id" property="productId" />
    <result column="product_price" property="productPrice" />
    <result column="product_quantity" property="productQuantity" />
    <result column="trade_order_no" property="tradeOrderNo" />
    <result column="gmt_create" property="gmtCreate" />
    <result column="gmt_modified" property="gmtModified" />
    <result column="is_deleted" property="isDeleted" />
  </resultMap>
  <sql id="Base_Select_Column">
    order_line_id, product_id, product_price, product_quantity, trade_order_no, gmt_create, 
    gmt_modified, is_deleted
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_line
    where order_line_id = #{orderLineId}
  </delete>
  <insert id="insert" parameterType="com.sun8min.order.entity.OrderLine">
    insert into order_line (
      <trim suffixOverrides=",">
        <if test="orderLineId != null">order_line_id,</if>
        <if test="productId != null">product_id,</if>
        <if test="productPrice != null">product_price,</if>
        <if test="productQuantity != null">product_quantity,</if>
        <if test="tradeOrderNo != null">trade_order_no,</if>
        <if test="gmtCreate != null">gmt_create,</if>
        <if test="gmtModified != null">gmt_modified,</if>
        <if test="isDeleted != null">is_deleted,</if>
      </trim>
      )
    values (
      <trim suffixOverrides=",">
        <if test="orderLineId != null">#{orderLineId},</if>
        <if test="productId != null">#{productId},</if>
        <if test="productPrice != null">#{productPrice},</if>
        <if test="productQuantity != null">#{productQuantity},</if>
        <if test="tradeOrderNo != null">#{tradeOrderNo},</if>
        <if test="gmtCreate != null">#{gmtCreate},</if>
        <if test="gmtModified != null">#{gmtModified},</if>
        <if test="isDeleted != null">#{isDeleted},</if>
      </trim>
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sun8min.order.entity.OrderLine">
    update order_line set 
    <trim suffixOverrides=",">
      <if test="orderLineId != null">order_line_id = #{orderLineId},</if>
      <if test="productId != null">product_id = #{productId},</if>
      <if test="productPrice != null">product_price = #{productPrice},</if>
      <if test="productQuantity != null">product_quantity = #{productQuantity},</if>
      <if test="tradeOrderNo != null">trade_order_no = #{tradeOrderNo},</if>
      <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
      <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
      <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
    </trim>
    where order_line_id = #{orderLineId}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Select_Column" />
    from order_line
    where order_line_id = #{orderLineId}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Select_Column" />
    from order_line
  </select>
</mapper>