<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun8min.order.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sun8min.order.entity.Order">
        <id column="order_id" property="orderId" />
        <result column="from_user_id" property="fromUserId" />
        <result column="to_user_id" property="toUserId" />
        <result column="shop_id" property="shopId" />
        <result column="order_trade_amount" property="orderTradeAmount" />
        <result column="order_pay_channel" property="orderPayChannel" />
        <result column="order_pay_no" property="orderPayNo" />
        <result column="order_pay_time" property="orderPayTime" />
        <result column="order_status" property="orderStatus" />
        <result column="trade_order_no" property="tradeOrderNo" />
        <result column="parent_order_no" property="parentOrderNo" />
        <result column="extension_field" property="extensionField" />
        <result column="version" property="version" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, from_user_id, to_user_id, shop_id, order_trade_amount, order_pay_channel, order_pay_no, order_pay_time, order_status, trade_order_no, parent_order_no, extension_field, version, gmt_create, gmt_modified, is_deleted
    </sql>

    <select id="findByTradeOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sun8min_order
        where trade_order_no = #{tradeOrderNo}
    </select>
</mapper>
