<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun8min.product.mapper.CategoryCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sun8min.product.entity.CategoryCategory">
        <id column="category_category_id" property="categoryCategoryId" />
        <result column="parent_category_id" property="parentCategoryId" />
        <result column="child_category_id" property="childCategoryId" />
        <result column="extension_field" property="extensionField" />
        <result column="version" property="version" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        category_category_id, parent_category_id, child_category_id, extension_field, version, gmt_create, gmt_modified, is_deleted
    </sql>

</mapper>
